{% extends "bootstrap/base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='customStyle.css')}}">
{% endblock %}
{% block title %} Library {% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="pull-left panel-title">My Library</h1>
                <a href="{{url_for('add')}}" role="button" class="btn btn-primary pull-right">Add New Book</a>
            </div>
            <div class="panel-body">
                {% if books|length < 1: %}
                    <p>Library is empty.</p>
                {% endif %}
                <ul class="list-group">
                    {% for book in books %}
                        <li class="list-group-item clearfix">
                            <span class="pull-left">{{book.title}} - {{book.author}} - {{book.rating}}</span>
                            <div class="pull-right">
                                <a class="btn btn-warning" href="{{url_for('delete', index=book.id)}}" role="button">Delete</a>
                                <a href="{{url_for('edit', index=book.id)}}" class="btn btn-primary" role="button">Edit Book</a>
                            </div>

                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}